<?xml version="1.0"?>
<configuration>
  <startup>         
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <connectionStrings>
      <!-- SQL Server authentication
       <add name="DatabaseConnectionString" connectionString="Data Source=hostname\instance;Initial Catalog=database;User ID=username;Password=password" providerName="System.Data.SqlClient" />
    -->

      <!-- Windows Authentication
      <add name="DatabaseConnectionString" connectionString="Data Source=hostname\instanc;Initial Catalog=database;Integrated Security=SSPI; persist security info=True" providerName="System.Data.SqlClient" />
     -->
  </connectionStrings>
</configuration>
